##Homework: List and Tuple Exercises

1. Create and Access List Elements
Create a list containing five different fruits and print the third fruit.

In [1]:
fruits=['aplle','orange','strawberry','watermelon','mango']
print(fruits[2])

strawberry

2. Concatenate Two Lists
Create two lists of numbers and concatenate them into a single list.

In [6]:
list1=['a','b','c','d']
list2=['e','f','g','h']
concated_list=list1+list2
print(concated_list)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

3. Extract Elements from a List
Given a list of numbers, extract the first, middle, and last elements and store them in a new list.

In [26]:
nums=[2,4,3,5,6,23,53,4]
if len(nums)%2==0:
    print(nums[0],nums[int(len(nums)/2-1)],nums[len(nums)-1])
else: print(nums[0],nums[int(len(nums)/2)],nums[len(nums)-1])

2 5 4

4. Convert List to Tuple
Create a list of your five favorite movies and convert it into a tuple

In [64]:
#list1=['five feet a part','home alone','travelling to the future','Stalker', 'mr ']
list3=[3,2,5,4,2,3]
my_tuple=(*list3,)
print(my_tuple)

(3, 2, 5, 4, 2, 3)

5. Check Element in a List
Given a list of cities, check if "Paris" is in the list and print the result.

In [67]:
cities=('Paris','Milan','London','Moscow')
city_check=str(input("Please enter a city you want to check in the tuple: "))
if city_check in cities:
    print(f"{city_check} is in the tuple")
else: print(f"{city_check} is not in the tuple")

Paris is in the tuple

6. Create a list of numbers and duplicate it without using loops.

In [69]:
list6=[1,4,2,6,7,3,4,2,4,1100]
print(list6*2)

[1, 4, 2, 6, 7, 3, 4, 2, 4, 1100, 1, 4, 2, 6, 7, 3, 4, 2, 4, 1100]

7. Swap First and Last Elements of a List
Given a list of numbers, swap the first and last elements.

In [70]:
list7=[1,2,3,4,5,6,7]
list7[0],list7[len(list7)-1]=list7[len(list7)-1],list7[0]
print(list7)

[7, 2, 3, 4, 5, 6, 1]

8. Slice a Tuple
Create a tuple of numbers from 1 to 10 and print a slice from index 3 to 7.

In [1]:
#first solution - not that good 
tuple8=(1,2,3,4,5,6,7,8,9,10)
for i in range(len(tuple8)):
    if 3<=i<7:
        print(tuple8[i])
#solution2
new_tuple8=(1,2,3,4,5,6,7,8,9,10)
print(new_tuple8[3:7])

4
5
6
7
(4, 5, 6, 7)

9. Count Occurrences in a List
Create a list of colors and count how many times "blue" appears in the list.

In [4]:
list9=['yellow','green','red','blue','blue','orange']
cnt=0
for i in list9:
    if i=='blue':
        cnt+=1
print(cnt)

2

10. Find the Index of an Element in a Tuple
Given a tuple of animals, find the index of "lion".

In [6]:
animals=('frog','lion','tiger','cat','snake','chetah')
print(animals.index('snake'))

4

11. Merge Two Tuples
Create two tuples of numbers and merge them into a single tuple.

In [8]:
t1=(1,2,3,4,5,6,100)
t2=(4,2,3,4,5,6,2,4,)
merged_tuple=t1+t2
print(merged_tuple)

(1, 2, 3, 4, 5, 6, 100, 4, 2, 3, 4, 5, 6, 2, 4)

12. Find the Length of a List and Tuple
Given a list and a tuple, find and print their lengths.

In [10]:
list12=[5,34,2131,43,2,3,12,32,3,4,345,45,6,56,56,7,5,56,45,3,42,32,3]
tuple12=(3,5,2,3,4,5,6,7,3,6)
print(len(list12),len(tuple12))

23 10

13. Convert Tuple to List
Create a tuple of five numbers and convert it into a list.

In [13]:
tuple13=(3,4,2,3,4)
list13=list(tuple13)
print(list13)

[3, 4, 2, 3, 4]

14. Find Maximum and Minimum in a Tuple
Given a tuple of numbers, find and print the maximum and minimum values.

In [15]:
tuple14=(21,342,53,44,23,22,213,42,524,6,356,3254,23,4,1234,35253)
print('max =',max(tuple14))
print('max =',min(tuple14))

max = 35253
max = 4

15. Reverse a Tuple
Create a tuple of words and print it in reverse order.

In [25]:
tuple15=('Khamzakhon','Nurilloev', 'Xusenjonivich')
print(tuple15[::-1])

('Xusenjonivich', 'Nurilloev', 'Khamzakhon')