1. Modify String with Underscores
Given a string txt, insert an underscore (_) after every third character. If a character is a vowel or already has an underscore after it, shift the underscore placement to the next character. No underscore should be added at the end.

Examples
Input: hello Output: hel_lo

Input: assalom Output: ass_alom

Input: abcabcabcdeabcdefabcdefg Output: abc_abc_abcd_abcd_abcdef

In [ ]:
txt='abcabcabcdeabcdefabcdefg'
vowels='aioeuAIOUE'
cnt=0
new_txt=''
    
for i in range(len(txt)):
    cnt+=1
    new_txt+=txt[i]
    if cnt%3==0 and txt[i] not in vowels:
        new_txt+='_' 
        cnt=0
        vowels+=txt[i]
    elif cnt%3==0 and txt[i] in vowels:
        cnt-=1
    
    
if new_txt[-1]=='_':
    new_txt[:-1]
print(new_txt)

abc_abcab_cdeabcd_efabcdef_g

2. Integer Squares Exercise
Task
The provided code stub reads an integer, n, from STDIN. For all non-negative integers i where 0 <= i < n, print i^2.

Example Input
5
Example Output
0
1
4
9
16
Input Format
The first and only line contains the integer, n.

Constraints
1 <= n <= 20
Output Format
Print n lines, one corresponding to each i^2 where 0 <= i < n.

In [12]:

def squeared_nums():
    num=int(input("please enter a value for n:"))
    if 1<=num<=20:
        for i in range(num+1):
            print(i**2)
    else: 
        print("Please enter a number in range between 1 and 20!")
        squeared_nums()

squeared_nums()

Please enter a number in range between 1 and 20!
Please enter a number in range between 1 and 20!
Please enter a number in range between 1 and 20!
Please enter a number in range between 1 and 20!
Please enter a number in range between 1 and 20!
0
1
4
9
16
25
36

3. Loop-Based Exercises
Exercise 1: Print first 10 natural numbers using a while loop
Exercise 2: Print the following pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [9]:
n=10
cnt=1
for i in range(n+1):
    while cnt<=i:
        print(cnt, end=' ')
        cnt+=1
    print()
    cnt=1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

3. Exercise 3: Calculate sum of all numbers from 1 to a given number
Example:

Enter number 10
Sum is: 55

In [14]:
num=int(input("please enter a number: "))
sum=0
for i in range(1,num+1):
    sum+=i

print(sum)

55

Exercise 4: Print multiplication table of a given number
Example:

2
4
6
8
10
12
14
16
18
20

In [ ]:
num=int(input("please enter a number: "))
counter=1
while counter<=10:
    print(num*counter)
    counter+=1

5
10
15
20
25
30
35
40
45
50

Exercise 5: Display numbers from a list using a loop
Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

In [20]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in range(len(numbers)):
    print(numbers[i])

12
75
150
180
145
525
50

Exercise 6: Count the total number of digits in a number
Example:

75869
Output: 5

In [5]:
num=int(input("Please enter a number: "))
cnt=0
devider=1
while num/devider>=1:
    cnt+=1
    devider*=10

print(cnt)

7

Exercise 7: Print reverse number pattern
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [19]:
num=int(input("Please enter a number: "))

while num>0:
    for i in range(num):
        print(num-i, end=' ')
    print()
    num-=1

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Exercise 8: Print list in reverse order using a loop
Given:

list1 = [10, 20, 30, 40, 50]

In [25]:
list1 = [10, 20, 30, 40, 50]
for i in range(len(list1)):
    print(list1[len(list1)-i-1])

50
40
30
20
10

Exercise 9: Display numbers from -10 to -1 using a for loop
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [29]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Exercise 10: Display message “Done” after successful loop execution
Example:

0
1
2
3
4
Done!

In [30]:
for i in range(5):
    print(i)

print("Done!")

0
1
2
3
4
Done!

Exercise 11: Print all prime numbers within a range
Example:

Prime numbers between 25 and 50:
29
31
37
41
43
47

In [1]:
n1=int(input("star point: "))
n2=int(input("end point: "))
cnt=0
for i in range(n1,n2+1):
    for j in range(1,i+1):
        if i%j==0:
            cnt+=1
    if cnt==2:
        print(j)
    cnt=0

23
29

12. Exercise 12: Display Fibonacci series up to 10 terms
Example:

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [8]:
a=0
b=1
for i in range(10):
    print(a, end=' ')
    a,b=b,a+b

0 1 1 2 3 5 8 13 21 34

Exercise 13: Find the factorial of a given number
Example:

5! = 120

In [12]:
num=int(input("Please enter a number: "))
f=1
for i in range(1,num+1):
    f*=i
print(f)

120

4. Return Uncommon Elements of Lists
Task
Return the elements that are not common between two lists. The order of elements does not matter.

Examples
Input: list1 = [1, 1, 2], list2 = [2, 3, 4]
Output: [1, 1, 3, 4]

Input: list1 = [1, 2, 3], list2 = [4, 5, 6]
Output: [1, 2, 3, 4, 5, 6]

Input: list1 = [1, 1, 2, 3, 4, 2], list2 = [1, 3, 4, 5]
Output: [2, 2, 5]

In [24]:
l11=[1,1,2]
l12=[2,3,4]
res=[]

#uncommon elements from list 1
for i in range(len(l11)):
    if l11[i] not in l12:
        res.append(l11[i])
#uncommon elements form list 2
for j in range(len(l12)):
    if l12[j] not in l11:
        res.append(l12[j])

print(res)
res=[]
        
l11=[1,2,3]
l12=[4,5,6]

#uncommon elements from list 1
for i in range(len(l11)):
    if l11[i] not in l12:
        res.append(l11[i])
#uncommon elements form list 2
for j in range(len(l12)):
    if l12[j] not in l11:
        res.append(l12[j])

print(res)
res=[]


l11=[1,1,2,3,4,2]
l12=[1,3,4,5]

#uncommon elements from list 1
for i in range(len(l11)):
    if l11[i] not in l12:
        res.append(l11[i])
#uncommon elements form list 2
for j in range(len(l12)):
    if l12[j] not in l11:
        res.append(l12[j])

print(res)

[1, 1, 3, 4]
[1, 2, 3, 4, 5, 6]
[2, 2, 5]